p{
    color:blue;
    font-size: large;
}
*{
    background-color: white;
    
}
h1{
    color:blue;
    font-size:xx-large
}
h2{
    color:blue;
    font-size:x-large;
}
body{
    font-family: "Montserrat", sans-serif;
    text-align: center;
    background-color:blue;
}
.question1{
    display: block;

}
.question2{
    display: none;
}
.question3{
    display: none;
}
.question4{
    display: none;
}
.question5{
    display: none;
}